bin
include
lib
lib64
pyvenv.cfg
tags

.eggs:
pytest_runner-5.3.1-py3.9.egg
README.txt

src/dk_analyzer.egg-info:
dependency_links.txt
entry_points.txt
PKG-INFO
requires.txt
src/dk_analyzer/version.py
__pycache__/
.coverage
coverage.xml
htmlcov
.cache/
.env
